<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head> 
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
		<title>AngularJS Datatype Editors (ADE)</title>
		<meta name="description" content=""/>
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/> 
		<link rel="stylesheet" href="../../libs/css/global.css"/>
		<link rel="stylesheet" href="../../libs/css/icon-font.css"/>
				<link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css"/>

		<!-- build:css build/ade.min.css -->
		<link rel="stylesheet" href="date/datepicker.css"/>
		<link rel="stylesheet" href="time/timepicker.css"/>
		<link rel="stylesheet" href="common/ng-tags-input/ng-tags-input.css"/>
		<link rel="stylesheet" href="common/ade.css"/>
		<!-- endbuild -->
		<link rel="stylesheet" href="../../libs/css/ade.css"/>
		<script src="bower_components/jquery/dist/jquery.js"></script>
		<script src="bower_components/angular/angular.js"></script>
		<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
		
		
		<script src="rich/tinymce/tinymce-ade.min.js"></script>

		<!-- build:js build/ade.min.js -->
		<script src="common/date.js"></script>
		<script src="common/ade.js"></script>
		<script src="common/number_directive.js"></script>
		<script src="common/url_directive.js"></script>
		<script src="date/date_filters.js"></script>
		<script src="date/date_directives.js"></script>
		<script src="date/bootstrap-datepicker.js"></script>
		<script src="decimal/decimal_filters.js"></script>
		<script src="email/email_filters.js"></script>
		<script src="icon/icon_directives.js"></script>
		<script src="icon/icon_filters.js"></script>
		<script src="integer/integer_filters.js"></script>
		<script src="number/number_filters.js"></script>
		<script src="duration/duration_directives.js"></script>
		<script src="duration/duration_filters.js"></script>
		<script src="list/list_directives.js"></script>
		<script src="rich/rich_directives.js"></script>
		<script src="rich/rich_filters.js"></script>
		<script src="money/money_filters.js"></script>
		<script src="multi/multi_directive.js"></script>
		<script src="percent/percent_filters.js"></script>
		<script src="phone/phone_filters.js"></script>
		<script src="rating/rating_directives.js"></script>
		<script src="common/ng-tags-input/ng-tags-input.js"></script>
		<script src="tag/tag_directives.js"></script>
		<script src="tag/tag_filters.js"></script>
		<script src="text/text_directives.js"></script>
		<script src="time/time_directives.js"></script>
		<script src="time/time_filters.js"></script>
		<script src="time/bootstrap-timepicker.js"></script>
		<script src="toggle/toggle_directives.js"></script>
		<script src="url/url_filters.js"></script>
		<!-- endbuild -->

		<script src="common/demoApp.js"></script>
		<script src="common/demoCtrl.js"></script>
		<script src="common/demoTagCtrl.js"></script>

	</head>
	<body ng-app="tagapp" ng-init="datatext='click to edit me';datalongtext='click to edit this very very very long text'; datatime=1000;dataicon='glass';dataurl='http://www.github.com';datatoggle=true;datadate=1357601471;dataemail='example@example.com';dataphone='111-555-1234';datarate=4;datapercent=50;datalen=90;datacurrency=4.50;datadec=1.2;dataflex=1.2;dataint=9;datasingle='apple';datamulti=['dog','cat']" >


		<div id="demo" class="container" ng-controller="ctrl">
		<h1>Toodledo UI Elements</h1>
		<p class="unfinished dim"> Items that have a red asterisk are unfinished and still require further effort towards styling or functionality.</p>
		<div class="internal-box gray glow">
			<h1>Short Text Editor</h1>
			<p>Edit text in-line. There is no max length, but it is indented for short strings. Classes to control the size of the input box are .input-large, .input-medium, and input-small. </p>
			<div class="input-examples">
				<span>
					<label>.input-large</label><div id='text' class="input-large" ade-text ade-class="input-large" ng-model="datatext"></div>
				</span>
				<span>
					<label>.input-medium</label><div id='text' class="input-medium" ade-text ade-class="input-medium" ng-model="datatext"></div>
				</span>
				<span>
					<label>.input-small</label><div id='text' class="input-small" ade-text ade-class="input-small" ng-model="datatext"></div>
				</span>
			</div>
		</div>
		<div class="internal-box gray glow">
			<h1>Long Text Editor</h1>
			<p>A popup text area for editing large amounts of richly formatted text.</p>
				<div class="input-examples">
					<span>
						<label>.input-xlarge</label> <div class="sample" ade-rich ade-class="input-xlarge" ade-max="2000" ade-cut="25" ng-model="datalongtext"></div>	
					</span>
				</div>
		</div>
		<div class="internal-box gray glow">
			<h1>Text Editors (with options) </h1>
			<p>A filter to make links clickable, and a way to edit them in place. Use classes .input-url, .input-email and input-phone in addition to the input size classes.</p>
			<div class="input-examples">
				<span>
					<label>.minico.lnk</label> <div class="input-small input-options" ade-url='url' ade-class="input-medium" ng-model="dataurl"></div>
				</span>
				<span>
					<label>.minico.mail</label> <div class="input-medium input-options" ade-url='email' ade-class="input-medium" ng-model="dataemail"></div>
				</span>
				<span>
					<label>.input-phone</label> <div class="input-large input-options" ade-url='phone' ade-class="input-medium" ng-model="dataphone"></div>
				</span>
			</div>
		</div>

		<div class="internal-box gray glow">
			<h1>Date Picker</h1>
			<p>A filter to make links clickable, and a way to edit them in place. Use classes .input-url, .input-email and input-phone in addition to the input size classes.</p>			
			<div class="input-examples">
				<span>
					<label>Date</label> <div class="input-medium" ade-date="MMM d, yyyy" ade-class="input-medium" ng-model="datadate"></div>
				</span>
				<span>
					<label>Date & Time</label> <div class="input-medium" ade-date="MMM d, yyyy h:mm:ss a" ade-class="input-medium" ng-model="datadate"></div>
				</span>
				<span>
					<label>Year</label><div class="input-medium" ade-date="yyyy" ade-class="input-medium" ng-model="datadate"></div>
				</span>
				<span>
					<label>Time</label><div class="input-medium" ade-class="input-medium" ade-time ng-model="datatime"></div>
				</span>
			</div>
		</div>
		
		<div class="internal-box gray glow">
			<h1>Numerical Pickers</h1>
			<p>Elements and pickers for numerical data</p>			
			<div class="input-examples">
				<span>
					<label>Currency</label> <div class="input-medium" ade-number='money' ng-model="datacurrency"></div>
				</span>
				<span>
					<label>Decimal</label> <div class="input-medium" ade-number='decimal' ng-model="datadec"></div>
				</span>
				<span>
					<label>Integer</label> <div class="input-medium" ade-number='integer' ng-model="dataint"></div>
				</span>
				<span>
					<label>Number</label> <div class="input-medium" ade-number='flex' ng-model="dataflex"></div>
				</span>
				<span>
					<label>Percent</label> <div class="input-medium" ade-number='percent' ng-model="datapercent"></div>
				</span>
				<span>
					<label>Duration</label> <div class="input-medium" ade-duration ade-class="input-medium" ng-model="datalen"></div>
			</div>
		</div>
		
		<div class="internal-box gray glow">
			<h1>Tag Picker</h1>
			<p class="unfinished dim">Tag suggestion list isn't showing up. Also, we need to be careful where we put this. If the tag picker is a child of a li or span it will get inherit unwanted styles.</p>			
				<div class="input-tags input-medium" ade-tag="list2" ade-query="query(val,listId)" ng-model="datamulti"></div>
		</div>

		<div class="internal-box gray glow">
			<h1>List Picker</h1>
			<p class="unfinished dim">List of options isn't showing up.</p>	
			<div class="input-list" ade-list='list1' ade-query="query(val,listId)" ng-model="datasingle"></div>
		</div>

		<div class="internal-box gray glow">
			<h1>Star Rating</h1>
			<p class="unfinished dim">Still needs hover color</p>	
			<div style="display:inline-block;" ade-rating ade-num="10" ade-class="icon-star" ade-width="16" ng-model="datarate"></div>
		</div>

		<div class="internal-box gray glow">
			<h1>Icon Toggle</h1>
			<p class="unfinished dim">How do I differentiate checkbox from star?</p>	
			<div class="input-examples">
				<span>
					<label>.input-star</label> <div style="display:inline-block;" ade-toggle ng-model="datatoggle"></div>
				</span>
			</div>
		</div>
		<div class="internal-box gray glow">
			<h1>Icon Picker</h1>
			<p>An icon that can be switched between a number of different options with a popup editor.</p>
			<a ade-icon ng-model="dataicon" class="current-icon"></a>
		</div>
	</body>
</html>